.containe{
  background: rgb(237, 242, 252);
  padding: 1.5rem;
  padding-left: 5rem;
  
}

.containe h1 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
    padding-top: 14px;
  }
  
  .containe h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .ro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px;
  }
  
  .service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;
    padding-left: 50px;

  }
  
  .service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
  }
  
  .service h2 {
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .service:hover {
    background: #303ef7;
    color: #fff;
    transform: scale(1.05);
  }
  
  .service:hover i {
    color: #fff;
  }
  